#root {
  max-width: 1560px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.al {
  text-align: left;
}

small {
  font-size: 0.875rem;
}

input {
  padding: 0.75rem;
  width: 33%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

table {
  font-size: 0.875rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
